<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.UtilisateurMapper">
    <select id="select" resultType="Utilisateur">
    SELECT *
    FROM utilisateur
    WHERE utilisateur.cip = #{cip};
    </select>

    <insert id="insertUtilisateur" >
        INSERT INTO utilisateur(cip, nom, prenom, email)
        VALUES(#{cip}, #{nom}, #{prenom}, #{email});
    </insert>

    <select id="getInscriptions" resultType="Inscription">
        SELECT *
        FROM inscription
        WHERE TRUE =TRUE
        <if test="cip != null">
            AND inscription.cip = #{cip}
        </if>
        <if test="session_id != null">
            AND inscription.session_id = #{session_id}
        </if>
        <if test="statut_id != null">
            AND inscription.statut_id = #{statut_id}
        </if>
        <if test="cours_id != null">
            AND inscription.cours_id = #{cours_id}
        </if>
    </select>


    <insert id="insertInscription">
        INSERT INTO inscription(statut_id, session_id, cip, cours_id)
        VALUES (#{statut_id},#{session_id},#{cip},#{cours_id});
    </insert>

</mapper>